<div class="page-name-container">
<h2>{{property.name | uppercase}} Details</h2>
</div>
<div>
  <label>name:
    <input [(ngModel)]="property.name" placeholder="name">
  </label>
</div>


<div class = "container">
  <div class="row">
    <div class="col-md-3">
      <img id="house-prof-pic" src="none">
    </div>
    <div class="col-md-3">
      <p><strong>id:</strong> {{property.id}}</p>
      <p id="address">{{property.address}}</p>
      <p><strong>Rent:</strong> {{property.rent | currency}}</p>
      <p><strong>Home Value:</strong> {{property.price | currency}}</p>
      <p><strong>Return:</strong> {{property.return | percent}}</p>
    </div>
    <div class="col-md-6">
      <div id="detail-map">
      <app-maps [address]="property.address"></app-maps>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <h3>Home Info</h3>
      <p>Fact 1</p>
      <p>Fact 2</p>
      <p> Fact 3</p>
    </div>
    <div class="col-sm-6">
      <h3>Neighborhood info</h3>
        <p>Fact 1</p>
        <p>Fact 2</p>
        <p>Fact 3</p>

    </div>
  </div>
</div>




<button (click)="save()">Save</button>
<button (click)="goBack()">Go Back</button>
<button routerLink="/trade/{{property.id}}">Trade</button>



