<h1>{{stock[0].symbol | uppercase }} Details</h1>

<div>
  <div class="row">
    <div class="col-sm-6">
      <h3>Contract Information</h3>
      <p>Underlying Symbol: {{stock[0].symbol }}</p>
      <p>Strike: {{stock[0].close}}</p>
      <p>Volume: {{stock[0].volume }}</p>
    </div>
  </div>
  <div class="row">
    <h3>Graph Options</h3>
  </div>
  <div class="row">
    <div class="col-md-2">
      <button class="btn btn-outline-success btn-md my-button" (click)="bollingerBands()">Bolinger Bands</button>
    </div>
  </div>
</div>

<mat-card>
  <canvas id="canvas">{{ chart }}</canvas>
</mat-card>


<mat-card>
  <table class="table">
    <thead>
    <tr>
      <th>Last Price</th>
      <th>Price Date</th>
      <th>Volume</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of stock">
      <td>{{row.close}}</td>
      <td>{{row.pricedate *1000 | date }}</td>
      <td>{{row.volume}}</td>
    </tr>
    </tbody>
  </table>
</mat-card>
