

<h1>{{stock[0].symbol | uppercase }} Details</h1>

<div class="container">
  <div class="row">
    <div class="col s12 m4">
      <p>Last Close: {{stock[stock.length-1].regularmarketprice | currency}}</p>
      <p>Volume: {{stock[stock.length-1].regularmarketvolume }}</p>
    </div>
  </div>
  <div class="s12">
    <canvas id="canvas">{{ chart }}</canvas>
  </div>
  <div class="row">
    <div class="col s4">
      <button class="btn btn-outline-success btn-md my-button" (click)="bollingerBands()">Bolinger Bands</button>
    </div>
    <div class="col s4">
      <button class="btn btn-outline-success btn-md my-button" (click)="macd_line()">MACD</button>
    </div>
  </div>

</div>
