<div *ngIf="property">

  <h2>{{property.name | uppercase}} Details</h2>
  <div>
    <span>id: </span>{{property.id}}
  </div>
  <div>
    <label>name:
      <input [(ngModel)]="property.name" placeholder="name">
    </label>
  </div>
  <div>
    <span>Address: </span>{{property.address}}
  </div>
  <div>
    <span>Monthly Rent: </span>{{property.rent | currency}}
  </div>
  <div>
    <span>Home Value: </span>{{property.price | currency}}
  </div>
  <div>
    <span>Return: </span>{{property.return}}%
  </div>
  <div>
    <span>Last Price: </span>{{tradeInfo.lastPrice | currency}}
  </div>
  <div>
    <span>Number of Shares: </span>{{tradeInfo.numberShares}}
  </div>
  <div>
    <span>Historical Prices: </span>{{tradeInfo.histPrices}}
  </div>
  <input type="number" id="Number-of-shares" name="Number-of-shares"
                           placeholder="Number of Shares"
                           min="1" value="" />
  <input type="number" id="bid-price" name="bid-price"
         placeholder="bid price"
         min="1" value=""/>
  <button (click)="buy()">Buy</button>
</div>




<div *ngIf="!property">
  <p>Trading Works!</p>
</div>

<button (click)="save()">Save</button>
<button (click)="goBack()">Go Back</button>
