<div *ngIf="property">
  <div class="page-name-container">
  <h2>Trade Form</h2>
  </div>
  <div class="container-fluid">
    <h3>{{property.name}}</h3>
    <div class="row">
      <div class="col-md-6">
        <p>{{property.address}}</p>
        <p>{{property.rent |currency}}</p>
        <p>{{property.price | currency}}</p>
      </div>
      <div class="col-md-6">
        <p>{{tradeInfo.lastPrice | currency}}</p>
        <p>Return: {{property.return}}%</p>
        <p>{{tradeInfo.numberShares}}</p>
      </div>
   </div>
  </div>
<div class="container-fluid">
<form>
  <div class="row">
    <div class="col">
    <div class="form-group">
    <label for="order-type">Price Type</label>
    <select class="form-control" id="order-type">
      <option>Buy</option>
      <option>Sell</option>
    </select>
  </div>
      <div class="coll">
        <input type="number" class="form-control" placeholder="Number of Shares" id="number-of-shares">
      </div>
  </div>
  </div>
  <div class="row">
    <div class="col">
  <div class="form-group">
    <label for="price-type">Price Type</label>
    <select class="form-control" id="price-type">
      <option>Market</option>
      <option>Limit</option>
      <option>Stop on Quote</option>
    </select>
  </div>
    </div>
    <div class="col">
      <input type="number" class="form-control" placeholder="" id="price">
    </div>
  </div>
</form>
</div>
  <button (click)="buy()">Buy</button>
</div>




<div *ngIf="!property">
  <div class="page-name-container">
  <p>Trading Works!</p>
  </div>
</div>

<button (click)="save()">Save</button>
<button (click)="goBack()">Go Back</button>
