<h1>Insights</h1>

<div class="container">
  <div class="row">
    <div class="col s12">
      <table class="highlight">
    <tbody>
    <tr *ngFor="let blog of Blogs">
      <td>
        <div class="card">
          <div class="row">
        <div class="col s8" id="insights-info">
          <h5><a routerLink="{{blog.id}}">{{blog.title}}</a></h5>
          <p>{{blog.description}}</p>
          <p>{{blog.date}}</p>
        </div>
        <div class="col s4">
          <h5 class="center-align">Views: {{blog.views}}</h5>
        </div>
        </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
  </div>
</div>

