<mat-card-title>Models</mat-card-title>

<mat-card>
  <div class="row">
    <div class="col-md-8">
      <mat-form-field appearance="fill">
        <mat-label>Tickers</mat-label>
      <input #tickers matInput class="input" type="text" id="tickers">
        <mat-hint>To use multiple tickers, try "AAPL+GS+IVV+FB"</mat-hint>
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-radio-group [(ngModel)]="asset_type">
        <mat-radio-button value="stocks">Stocks</mat-radio-button>
        <mat-radio-button value="options">Options</mat-radio-button>
        <mat-radio-button value="mixed">Mixed</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <mat-form-field appearance="fill">
        <mat-label>Model Type</mat-label>
      <mat-select #modeltype id="order-type">
        <mat-option value="sharpe">Sharpe Ratio</mat-option>
      </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field appearance="fill">
        <mat-label>Optimization Range (weeks)</mat-label>
      <input #opt_range matInput class="input" type="number" id="optimization_range">
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field appearance="fill">
        <mat-label>Optimization Frequency (weeks)</mat-label>
      <input #opt_freq matInput class="input" type="number" id="optimization_frequency">
      </mat-form-field>
    </div>
  </div>

<div class="form-group">
  <div class="row">
    <div class="col-md-4">
      <mat-form-field appearance="fill">
        <mat-label>Filter Type</mat-label>
      <mat-select  id="filter-type">
        <mat-option value="expiry">Expiration Date Range</mat-option>
      </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field appearance="fill">
        <mat-label>Required time until expiration (weeks)</mat-label>
      <input #filter matInput type="number" id="filter_range">
      </mat-form-field>
    </div>
    <div class="col-md-2">
      <button mat-stroked-button class="btn btn-outline-success btn-md my-button" (click)="run(tickers.value,
       opt_range.value, filter.value, opt_freq.value, asset_type)">BUILD</button>
    </div>
  </div>
</div>
</mat-card>


<mat-card  class="loading">
    <mat-spinner color="accent" class="loading" *ngIf="loading"></mat-spinner>
  <canvas id="canvas">{{ chart }}</canvas>
</mat-card>

<mat-card>
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Dates</th>
        <th>Ending Total</th>
      </tr>
      </thead>
      <tbody *ngFor="let row of results">
      <tr *ngFor="let r of row.dates; let i = index">
        <td>{{row.dates[i]}}</td>
        <td>{{row.daily_tot[i]}}</td>
      </tr>
      </tbody>
    </table>
</mat-card>
