<div class="jumbo-wrapper">
 
  <div class="jumbo">
      <div class="row">
        <div class="col s4 offset-s6">
          <div id="jumbo-content">
            <h4 id="jumbo-header" class="grey-text text-lighten-5 left-align">Research Like a Quant</h4>
            <p class="grey-text text-lighten-5 center-align">Take your knowldge and market readiness to the next level.</p>

          </div>

        </div>
      </div>
    </div>
  </div>


<div class="row content-section1">
  <div class="col s12 grey lighten-3">
    <div class="row">
      <div class="col s6">
        <div class="container">
          <div class="grey lighten-4" id="large-content-square">

            <h5 class="blue-grey-text text-darken-3 center-align">Research. Model. Trade.</h5>
            <p class="flow-text blue-grey-text text-darken-3">Never before has it been so easy to perform intelligent
              market
              research. Finally, the hassle
              of spending hours building tools and custom models and back-testing them yourself is over. Stop making
              uninformed investments. Trade like a Quant.
            </p>
            <p class="center-align">
              <i class="large material-icons blue-grey-text text-darken-3 center-align">timeline</i>
            </p>
          </div>
        </div>
      </div>
      <div class="col s3">
        <!-- <div class="container">JL -->
        <div class="small-content-wrapper" id="small-content-wrapper-left">
          <div class="grey lighten-4 small-top-content-square">
            <h5><a class="blue-grey-text text-darken-3 center-align" routerLink="/research">Research</a></h5>
            <p class="small-content-square-text blue-grey-text text-darken-3">Use the research portal to obtain
              valuable insight and gain the edge
              in options trading.</p>
          </div>
          <div class="grey lighten-4 small-bottom-content-square">
            <h5><a class="blue-grey-text text-darken-3 center-align" routerLink="/trade">Trade</a></h5>
            <p class="small-content-square-text blue-grey-text text-darken-3">Implement your market knowldge.</p>
          </div>
        </div>
      </div>

      <div class="col s3">
        <div class="container">
          <div class="small-content-wrapper" id="small-content-wrapper-right">
            <div class="grey lighten-4 small-top-content-square" id="small-top-content-square-right">
              <h5><a class="blue-grey-text text-darken-3 center-align" routerLink="/model">Model</a></h5>
              <p class="small-content-square-text blue-grey-text text-darken-3">See beyond the superficial, find
                meaningful and lucrative trends with our powerful modeling tools.</p>
            </div>
            <div class="grey lighten-4 small-bottom-content-square" id="small-bottom-content-square-right">
              <h5><a class="blue-grey-text text-darken-3 center-align" routerLink="/insights">Insights</a></h5>
              <p class="small-content-square-text blue-grey-text text-darken-3">The latest news, commentaries, and info
                you need to improve your portfolio.</p>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
