
<mat-card>
<div class="jumbotron">
  <div class="card col-md-3">
  <mat-card-title class="h1">Fanale Research</mat-card-title>
  </div>

  <mat-form-field class="form-inline">
    <div class="form-group">
      <!---todo: make email form do something  --->
      <input type="email" class="form-control" size="50" placeholder="Email Address" required>
      <div class="input-group-btn">
        <button type="button" class="btn btn-danger">Subscribe</button>
      </div>
    </div>
  </mat-form-field>
</div>
</mat-card>

<mat-divider></mat-divider>

<mat-card class="mat-elevation-z2">
  <div class="row">
    <div class="col-md-8">
      <mat-card-title>Research. Model. Trade. ???? Profit.</mat-card-title>
      <mat-card-content> Never before has it been so easy to perform intelligent market research. Finally, the hassle of spending hours
        building tools and custom models and back-testing them yourself is over. With our easy to use portal anyone can
      research like a Quant!
      </mat-card-content>
    </div>
    <div class="col-md-4">
      <mat-icon class="md-96">show_chart</mat-icon>
    </div>
  </div>
</mat-card>

<mat-divider></mat-divider>

<mat-card class="container-fluid bg-grey">
    <mat-card-content class="center">
      <mat-card-title>Trade like a Quant</mat-card-title>
      <mat-card-subtitle>Stop making uninformed investments</mat-card-subtitle>
    </mat-card-content>
</mat-card>

<mat-divider></mat-divider>

<mat-card>
  <div class="row">
    <div class="col-sm-4">
      <mat-icon class="md-96">cake</mat-icon>
    </div>
    <div class="col-sm-8">
      <mat-card-title class="right">Research</mat-card-title>
      <mat-card-content class="right">  Our platform allows easy access to historical data from stocks and options. Using the research portal, you can
        find whatever asset you are looking for, and easily create beautiful charts. Want to compare open interest to
        price over time for several options? Done. Want to compare option movements to underlying movements? Done. Be
        sure to check out our PriceMap® features!
      </mat-card-content>
    </div>
  </div>
</mat-card>

<mat-divider></mat-divider>

<mat-card>
  <div class="row">
    <div class="col-sm-8">
      <mat-card-title>Model</mat-card-title>
      <mat-card-content>   Our modelling platform allows anyone build and back-test common quantitative trading algorithms. The models
        can be customized with asset filters, factor screens, optimization parameters, and strategies. Our advanced model
        portal allows the construction of even more customizable model parameters, and the ability to save these models
        to your account for use with trading.
      </mat-card-content>
    </div>
    <div class="col-sm-4">
      <mat-icon class="md-96">fitness_center</mat-icon>
  </div>
  </div>
</mat-card>

<mat-divider></mat-divider>

<mat-card>
  <div class="row">
    <div class="col-sm-4">
      <mat-icon class="md-96">computer</mat-icon>
    </div>
    <div class="col-sm-8">
      <mat-card-title class="right">Trade</mat-card-title>
      <mat-card-content class="right">  Leverage the full power of our platform by trading! Choose either a preset model, or build your own custom
        one using our advanced model tools. We give you the ability to create your own highly customizable models, and
        then we will trade that model for you. Now, anyone can trade like a Quant shop!
      </mat-card-content>
    </div>
  </div>
</mat-card>

<div class="container-fluid text-center">
  <h2>WHAT WE OFFER</h2>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-off logo-small"></span>
      <h4>STOCKS</h4>
      <p>For the old fashioned...</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-heart logo-small"></span>
      <h4>OPTIONS</h4>
      <p>Or for the risk happy</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-lock logo-small"></span>
      <h4>RESEARCH</h4>
      <p>Gain valuable insight</p>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-leaf logo-small"></span>
      <h4>ANALYTICS</h4>
      <p>See how your models stack up</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-certificate logo-small"></span>
      <h4>MODELS</h4>
      <p>Sharpe, APT, GARCH, Midas...</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-wrench logo-small"></span>
      <h4>FUN</h4>
      <p>Trading should be fun!</p>
    </div>
  </div>
</div>


<div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
  <h2>What our customers say</h2>
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <h4>"I love looking at numbers!"<br><span style="font-style:normal;">Calvin Barker</span></h4>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container-fluid text-center bg-grey">
  <h2>Portfolio</h2>
  <h4>What we have created</h4>
  <div class="row text-center">
    <div class="col-sm-4">
      <div class="thumbnail">
        <p><strong>Paris</strong></p>
        <p>Yes, we built Paris</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <p><strong>New York</strong></p>
        <p>We even built New York (in 1 day)</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <p><strong>San Francisco</strong></p>
        <p>Yerp, San Fran is mine too</p>
      </div>
    </div>
  </div>
</div>


