
<div class="slider">
  <ul class="slides">
    <li>
      <img class="responsive-img" src="../../assets/IMG_0064.jpeg">
      <div class="caption right-align">
        <h3>Start Your Investment Journey</h3>
        <h5 class="light grey-text text-lighten-3">Use our tools to trade like never before</h5>
      </div>
    </li>
    <li>
      <img class="responsive-img" src="https://s3.amazonaws.com/real-fun-estate-mediaassets/IMG_0009+2.jpeg">
      <div class="caption right-align">
        <h3>Research Like a Quant</h3>
        <h5 class="light grey-text text-lighten-3">Take your knowledge and market readiness to the next level.</h5>
      </div>
    </li>
    <li>
      <img class="responsive-img" src="../../assets/IMG_0274.jpeg">
      <div class="caption right-align">
        <h3>Leverage Options Data</h3>
        <h5 class="light grey-text text-lighten-3">Easy access to historical prices, charts, metrics, and more!</h5>
      </div>
    </li>
    <li>
      <img class="responsive-img" src="../../assets/IMG_1823.jpeg">
      <div class="caption right-align">
        <h3>Research Like a Quant</h3>
        <h5 class="light grey-text text-lighten-3">Leverage the power of Data Science in our custom models.</h5>
      </div>
    </li>
  </ul>
</div>


<div class="section">
  <div class="col s12">
    <div class="row">
      <div class="col s12 l6">
        <div class="card" id="large-card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator responsive-img" src="../../assets/IMG_0064.jpeg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Research. Model. Trade.<i class="material-icons right">more_vert</i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Get To The Next Level<i class="material-icons right">close</i></span>
            <p>Never before has it been so easy to perform intelligent market research. Finally, the hassle
              of spending hours building tools and custom models and back-testing them yourself is over. Stop making
              uninformed investments. Trade like a Quant.
            </p>
          </div>
        </div>

      </div>
      <div class="col s12 l3">
        <div class="card small">
          <div class="card-image waves-effect waves-block waves-light responsive-img">
            <img class="activator" src="../../assets/IMG_4427.jpeg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"><a routerLink="/research">Research</a><i class="material-icons right">more_vert</i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Research<i class="material-icons right">close</i></span>
            <p>Use the research portal to obtain valuable insight in both stocks and options.</p>
          </div>
        </div>
      </div>
          <div class="col s12 l3">
            <div class="card small">
              <div class="card-image waves-effect waves-block waves-light responsive-img">
                <img class="activator" src="../../assets/IMG_1095.jpeg">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4"><a routerLink="/trade">Trade</a><i class="material-icons right">more_vert</i></span>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Trade<i class="material-icons right">close</i></span>
                <p>Leverage your research right into real trades. Or, build a custom model and take the quantitative approach.
                The choice is yours. </p>
              </div>
            </div>
        </div>

      <div class="col s12 l3">
        <div class="card small">
          <div class="card-image waves-effect waves-block waves-light responsive-img">
            <img class="activator" src="../../assets/IMG_0274.jpeg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"><a routerLink="/model">Model</a><i class="material-icons right">more_vert</i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Model<i class="material-icons right">close</i></span>
            <p>See beyond the superficial, find meaningful and lucrative strategies with our powerful modeling tools.</p>
          </div>
        </div>

      </div>
            <div class="col s12 l3 ">
              <div class="card small">
                <div class="card-image waves-effect waves-block waves-light responsive-img">
                  <img class="activator" src="../../assets/IMG_0064.jpeg">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4"><a routerLink="/insights/{{blog.id}}">Insights</a><i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">{{blog.title}}<i class="material-icons right">close</i></span>
                  <p>{{blog.description}}</p>
                </div>
              </div>

          </div>
          </div>
        </div>
      </div>


