<div class="row">
 <h3 class="center-align">{{stock[0].shortname}} {{option[0].strike | currency}} {{option[0].optiontype}} for {{option[0].expiration*1000 | date}}</h3>

</div>

<div class="row">
  <div class="col s12 m8 push-m2">
    <div class="chip" (click)="five_day()">
      5 day
    </div>
    <div class="chip" (click)="one_month()">
      1 month
    </div>
    <div class="chip" (click)="three_month()">
      3 month
    </div>
    <div class="chip" (click)="one_year()">
      1 year
    </div>
    <div class="chip" (click)="two_year()">
      2 year
    </div>
    <div class="chip" (click)="all_time()">
      all
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 m8 push-m2">
    <div class="chip" (click)="graphPrice()">
      Real Price
    </div>
    <div class="chip" (click)="graphCalcPrice()">
      Calculated Price
    </div>
    <div class="chip" (click)="graphOpenInterest()">
      Open Interest
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 m8 push-m2">
    <canvas id="canvas">{{ chart }}</canvas>
  </div>
</div>



<div class="row">
  <div class="col s12 m6 push-m3">
    <h4>{{stock[stock.length-1].longname}} News</h4>
    <ul class="collection" *ngFor="let row of news">
      <li  class="collection-item avatar"><a href="{{row.url}}">
        <img src="{{row.urlToImage}}" alt="" class="circle">
        <h5>{{row.title}}</h5>
        <p>{{row.author}} - {{row.source.name}} <br>
          {{row.description}}
        </p>
      </a>

      </li>

    </ul>
  </div>
</div>




