<div class="page-name-container">
  <h2>{{option[0].contractsymbol | uppercase}} Details</h2>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <h3>Contract Information</h3>
      <p>Underlying Symbol: {{option[0].symbol}}</p>
      <p>Strike: {{option[0].strike}}</p>
      <p>Expiration Date: {{option[0].expiry*1000 | date}}</p>
    </div>
  </div>
  <div class="row">
    <h3>Graph Options</h3>
    <div class="col-md-4">
      <button class="btn btn-outline-success btn-md my-button" (click)="graphOpenInterest()">Open Interest</button>
    </div>
    <div class="col-md-4">
      <button class="btn btn-outline-success btn-md my-button" (click)="graphOpenInterest()">Open Interest</button>
    </div>
  </div>
</div>

<div>
  <canvas id="canvas">{{ chart }}</canvas>
</div>


<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th>Last Price</th>
      <th>Price Date</th>
      <th>Calc Price</th>
      <th>Open Interest</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of option; let i = index">
      <td>{{row.lastprice}}</td>
      <td>{{row.pricedate *1000 | date }}</td>
      <td>{{row.bid}}</td>
      <td>{{row.openinterest}}</td>
    </tr>
    </tbody>
  </table>
</div>
