<mat-card-title>Research</mat-card-title>

<mat-card>
  <div class="row">
    <div class="col-lg-6">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Symbol</mat-label>
      <input #symbol matInput type="text" placeholder="Enter Stock Symbol..." id="symbol">
      </mat-form-field>
    </div>
    <div class="col-lg-2">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Strike Price</mat-label>
      <input #strike matInput type="text" placeholder="Strike Price"  id="strike">
      </mat-form-field>
    </div>
    <div class="col-lg-3">
      <mat-form-field appearance="fill">
        <mat-label>Minimum Expiration Date</mat-label>
        <input #expiry matInput [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-lg-1">
      <button mat-stroked-button class="btn btn-outline-success btn-md my-button" (click)="getOption(symbol.value, strike.value, expiry.value)">SEARCH</button>
    </div>
  </div>
</mat-card>

<mat-divider></mat-divider>

<mat-card>
<table class="table table-hover">
  <thead>
  <tr>
    <th>Contract</th>
    <th>Strike</th>
    <th>Expiration Date</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let option of options">

    <td><a routerLink="/options/detail/{{option.contractsymbol}}">{{option.contractsymbol}}</a></td>
    <td>{{option.strike}}</td>
    <td>{{option.expiry*1000 | date}}</td>
  </tr>
  </tbody>
</table>
</mat-card>


