<mat-card-header>
  <h1>Research</h1>
</mat-card-header>

<mat-card-content>

  <div class="row">
    <div class="col-lg-6">
      <input #symbol type="text" class="form-control" placeholder="Enter Stock Symbol..." id="symbol">
    </div>
    <div class="col-lg-2">
      <input #strike type="text" class="form-control" placeholder="Strike" id="strike">
    </div>
    <div class="col-lg-3">
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-lg-1">
      <button  class="btn btn-outline-success btn-md my-button" (click)="getOption(symbol.value, strike.value, date.patchValue())">Get Option</button>
    </div>
  </div>
</mat-card-content>
<mat-divider></mat-divider>


<mat-card>
<table class="table table-hover">
  <thead>
  <tr>
    <th>Contract</th>
    <th>Strike</th>
    <th>Expiration Date</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let option of options">

    <td><a routerLink="/options/detail/{{option.contractsymbol}}">{{option.contractsymbol}}</a></td>
    <td>{{option.strike}}</td>
    <td>{{option.expiry*1000 | date}}</td>
  </tr>
  </tbody>
</table>
</mat-card>


