<div class="container">
  <div class="row">
    <div class="col push-s3 s6">
      <div class="card">
        <p>{{user.id}}<br>
          {{user.firstname}}<br>
          {{user.lastname}}<br>
          {{user.admin}}<br>
          {{user.email}}<br>
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m8 push-m2">
      <ul *ngFor="let row of user.holdings">
        <li>{{row.symbol}}.....{{row.pricepaid}}.....{{row.amount}}</li>
      </ul>
    </div>
  </div>

  <div class="row">
      <div class="col m2 s4">
        <button class="btn waves-effect waves-light" (click)="logout()">Log Out</button>
      </div>
  </div>
    <div class="row">
      <div class="col m4 s4">
        <button routerLink="/inbox" class="btn waves-effect waves-light">Inbox</button>
      </div>
      <div class="col m4 s4">
        <button routerLink="/explore" class="btn waves-effect waves-light">Explore</button>
      </div>
      <div class="col m4 s4">
        <button routerLink="/user/{{user.username}}" class="btn waves-effect waves-light">My Profile</button>
      </div>
    </div>
  </div>

