<div class="container">
  <div class="row">
    <div class="col m3 s4 push-m9 push-s6">
      <button class="btn waves-effect waves-light" (click)="logout()">Log Out</button>
    </div>
  </div>
  <div class="row">
    <div class="col m3 s3">
      <button routerLink="/inbox" class="btn waves-effect waves-light">Inbox</button>
    </div>
    <div class="col m3 s3">
      <button routerLink="/explore" class="btn waves-effect waves-light">Explore</button>
    </div>
    <div class="col m3 s3">
      <button routerLink="/user/{{user.username}}" class="btn waves-effect waves-light">My Profile</button>
    </div>
    <div class="col m3 s3">
      <button routerLink="/account/subscription" class="btn waves-effect waves-light">Manage Account</button>
    </div>
  </div>

  <div class="row">
    <div class="col push-s3 s6">
      <div class="card">
        <p>{{user.id}}<br>
          {{user.firstname}}<br>
          {{user.lastname}}<br>
          {{user.admin}}<br>
          {{user.email}}<br>
          {{user.premium}}
        </p>
        <p *ngIf="user.premium">
          https://5jpmbqgr8j.execute-api.us-east-1.amazonaws.com/1/options?operation=read_one_all&operand1=AAPL
        </p>
      </div>
    </div>
  </div>



  <div class="row">
    <div class="col s12 m8 push-m2">
      <ul *ngFor="let row of user.holdings">
        <li>{{row.symbol}}.....{{row.pricepaid}}.....{{row.amount}}</li>
      </ul>
    </div>
  </div>



</div>



