<div class="page-name-container"><h2>Research</h2></div>



<!-- Add Google Maps -->
<div class="container-fluid">
  <div id="map"></div>
</div>





  <!--
  <input #searchBox id="search-box" (keyup)="search(searchBox.value)" />
  <button  (click)="sortedByRent()">Rent</button>
  <button  (click)="sortedByPrice()">Price</button>
  <button  (click)="sortedByReturn()">Return</button>

  <ul class="research">
    <div class="row">
      <div class="col-1-5"><h5>Property Name</h5></div>
      <div class="col-1-5"><h5>Rent</h5> </div>
      <div class="col-1-5"><h5>Price</h5> </div>
      <div class="col-1-5"><h5>Return</h5></div>
    </div>
    <li *ngFor="let property of properties" >
      <div class="row">
        <div class="col-1-5">
      <a routerLink="/detail/{{property.id}}">
        {{property.name}}
      </a>
        </div>
        <div class="col-1-5">{{property.rent}} </div>
        <div class="col-1-5">{{property.price}} </div>
        <div class="col-1-5">{{property.return}} </div>
      </div>
    </li>
  </ul>
</div>


-->
