
<div class="outer-page grey lighten-4">
  <div class="wrapper">
    <nav class="nav-extended">
      <div class="nav-wrapper grey lighten-5">
        <a routerLink="" class="brand-logo blue-grey-text text-darken-3">Fanale Research</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger blue-grey-text text-darken-3"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down blue-grey-text text-darken-3">
          <li><a routerLink=""><i class="material-icons left blue-grey-text text-darken-3">home</i></a></li>
          <li><a class="blue-grey-text text-darken-3" routerLink="/research">Research</a></li>
          <li><a class="blue-grey-text text-darken-3" routerLink="/models">Models</a></li>
          <li><a class="blue-grey-text text-darken-3" routerLink="/insights">Insights</a></li>
          <li><a class="blue-grey-text text-darken-3" routerLink="/learn">Learn</a></li>
          <li><a class="blue-grey-text text-darken-3" routerLink="/trade">Trade</a></li>
          <li><a class="blue-grey-text text-darken-3" routerLink="/account">Account</a></li>
        </ul>
      </div>
    </nav>


    <ul class="sidenav" id="mobile-demo">
      <li><a routerLink="/research" >Sass</a></li>
      <li><a routerLink="/models">Components</a></li>
      <li><a routerLink="/insights">Javascript</a></li>
      <li><a routerLink="/learn">Mobile</a></li>
    </ul>



    <router-outlet></router-outlet>
  </div>

  <footer class="page-footer grey darken-1">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Footer Content</h5>
          <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2019 Copyright Text
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>
</div>


