<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Fanale Research</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav justify-content-end">
      <a class="nav-item nav-link active" routerLink="/dashboard">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" routerLink="/options">Options</a>
      <a class="nav-item nav-link" routerLink="/models">Models</a>
      <a class="nav-item nav-link" routerLink="/trade">Trade</a>
      <a class="nav-item nav-link" routerLink="/account">Account</a>
    </div>
  </div>
</nav>


<router-outlet></router-outlet>


