<!--Angular Material Design

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Fanale Research</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav justify-content-end">
      <a class="nav-item nav-link active" routerLink="/dashboard">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" routerLink="/options">Options</a>
      <a class="nav-item nav-link" routerLink="/models">Models</a>
      <a class="nav-item nav-link" routerLink="/trade">Trade</a>
      <a class="nav-item nav-link" routerLink="/account">Account</a>
    </div>
  </div>
</nav> -->

<!--Materialize (Test)-->
<div class="outer-page grey lighten-4">
  <div class="wrapper">
    <nav class="nav-extended">
      <div class="nav-wrapper grey lighten-5">
        <a routerLink="/dashboard" class="brand-logo blue-grey-text text-darken-3">Fanale Research</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down blue-grey-text text-darken-3">
          <li><a routerLink="dashboard"><i class="material-icons left blue-grey-text text-darken-3">home</i></a></li>
          <li><a class="blue-grey-text text-darken-3" routerLink="/research">Research</a></li>
          <li><a class="blue-grey-text text-darken-3" routerLink="/models">Models</a></li>
          <li><a class="blue-grey-text text-darken-3" routerLink="/account">Insights</a></li>
          <li><a class="blue-grey-text text-darken-3" routerLink="/trade">Trade</a></li>
          <li><a class="blue-grey-text text-darken-3" routerLink="/account">Account</a></li>
        </ul>
      </div>
    </nav>


    <router-outlet></router-outlet>
  </div>
</div>