<h1>Learning</h1>

<h2>Stocks</h2>
<p>   Stocks are </p>

<h2>Exchange Traded Products (ETFs)</h2>

<h2>Options</h2>
<p>   Related to stocks, options are a type of derivative asset. There are two types of option contracts: Calls and
Puts. We will go into more detail on each later. Both types of contracts are derivatives of an underlying stock or
ETF. This means that they are tied to the movements of their related asset, but they are not the same thing as true stock.
With options, you do not own any part of the company. Rather, you have purchased or sold the right to buy or sell the related
underlying asset. </p>
