<h1>Learning</h1>

<h2>Stocks</h2>
<p>   Stocks are </p>

<h2>Exchange Traded Products (ETFs)</h2>

<h2>Options</h2>
<p>   Related to stocks, options are a type of derivative asset. There are two types of option contracts: Calls and
Puts. We will go into more detail on each later. Both types of contracts are derivatives of an underlying stock or
ETF. This means that they are tied to the movements of their related asset, but they are not the same thing as true stock.
With options, you do not own any part of the company. Rather, you have purchased or sold the right to buy or sell the related
  underlying asset.</p>
<p>   For detailed reading, check out <a href="https://www.investopedia.com/options-basics-tutorial-4583012">Investopedia</a></p>

  <h3>Call Options</h3>

  <h3>Put Options</h3>

  <h3>Common Options Strategies</h3>

    <h4>Long Call</h4>
    <p><strong>Buying a call.</strong></p>

    <h4>Covered Call</h4>
    <p><strong>Selling a call.</strong></p>

    <h4>Long Put</h4>
    <p><strong>Buying a put.</strong></p>

    <h4>Cash Secured Put</h4>
    <p><strong>Selling a put.</strong></p>

    <h4></h4>


<h2>Models</h2>

  <h3>Sharpe Ratio</h3>
  <p>The Sharpe ratio is a simple and commonly used ratio in portfolio modelling. The ratio is defined as the return of
  an asset divided by its risk. When used for optimization, we try to maximize this ratio for the portfolio because this
  means that we are being most well compensated for the risk we are being exposed to.</p>
